.header {
    height: 84px;
    padding-left: 70px;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    background-image: url("@assets/images/logo.png");
    background-size: cover;
    width: 60px;
    height: 60px;
}


@media (width < 800px) {
    .header {
        padding-left: 20px;
        height: 66px;
    }

    .logo {
        height: 40px;
        width: 40px;
    }
}